<div id="extracurriculars">

	<div class="row">
		<h3>Extracirricular Involvements</h3>
	</div>

	<% data.extracirricular.Extracirriculars.each_index do |i| %>
		<% if i % 2 == 0 %>
		<div class="row red lighten-1">
		<% end %>
		<% extracirricular = data.extracirricular.Extracirriculars[i] %>
		<div class="col m6 s12 ">
			<div class="involvement-box">
				<h5><%= extracirricular.Organization %></h5>
				<h6>Years Involved: <%= extracirricular.YearsInvolved %></h6>
				<div class="divider"></div>
				<p>Description: <%= extracirricular.Description %></p>
			</div>
		</div>
		<% if i % 2 != 0 || i == data.extracirricular.Extracirriculars.length - 1 %>
		</div>
		<% end %>
	<% end %>

	<div class="row">
		<h3>Leadership</h3>
	</div>

	<% data.extracirricular.Leadership.each_index do |i| %>
		<% if i % 2 == 0 %>
		<div class="row red lighten-1">
		<% end %>
		<% leadership = data.extracirricular.Leadership[i] %>
		<div class="col m6 s12 ">
			<div class="involvement-box">
				<h5><%= leadership.Position %></h5>
				<h6>Organization: <%=  leadership.Organization %></h6>
				<h6>Timeframe held: <%=  leadership.Timeframe %></h6>
				<div class="divider"></div>
				<p>Description: <%=  leadership.Description %></p>
			</div>
		</div>
		<% if i % 2 != 0 || i == data.extracirricular.Leadership.length - 1%>
		</div>
		<% end %>
	<% end %>
	

</div>