<div id="internships">
	<div class="row">
		<h3>Internships:</h3>
	</div>

	<% data.internships.Internships.each_index do |i| %>
		<div class="row">
			<% if i % 2 == 0%>
				<div class="work-box col m10 s12 red lighten-1 left">
			<% else %>
				<div class="work-box col m10 s12 red lighten-1 right">
			<% end %>
			<% internship = data.internships.Internships[i]%>
				<div class="work-content">
					<h5><%= internship.Title %></h5>
					<div class="divider"></div>
					<h6>Business/Organization: <%= internship.Business %></h6>
					<h6>Date: <%= internship.Date %> </h6>		
					<div class="divider"></div>
					<p>Description: <%= internship.Description %></p>
					<div class="divider"></div>
					<p>Languages Utilizied: <%= internship.LanguagesUtilized %></p>
					<p>Technologies Utilizied: <%= internship.TechnologiesUtilized %></p>
				</div>
			</div>
		</div>
	<% end %>
</div>