<div id="internships">
	<div class="row">
		<h3>Projects:</h3>
	</div>

	<% data.projects.Projects.each_index do |i| %>
		<div class="row">
			<% if i % 2 == 0%>
				<div class="work-box col m10 s12 red lighten-1 left">
			<% else %>
				<div class="work-box col m10 s12 red lighten-1 right">
			<% end %>
			<% project = data.projects.Projects[i] %>
				<div class="work-content">
					<h5><%= project.Title %></h5>
					<div class="divider"></div>
					<h6>Date: <%= project.Date %></h6>		
					<div class="divider"></div>
					<p>Description: <%= project.Description %></p>
					<div class="divider"></div>
					<p>Languages Utilizied: <%= project.LanguagesUtilized %></p>
					<p>Technologies Utilizied: <%= project.TechnologiesUtilized %></p>
					<% project.Links.each do |key, value|  %>
						<p><%= key %>: <%= link_to value, value %></p>
					<% end %>
				</div>
			</div>
		</div>
	<% end %>
</div>